@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Geist:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-inter: "Inter", sans-serif;
  --font-geist: "Geist", sans-serif;
  --font-dm: "DM Sans", sans-serif;
  --font-mono: "Geist Mono", monospace;
}


@layer base {
  * {
    font-family: var(--font-geist);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    outline: none;
    border: none;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
  }

  a,
  button,
  .icon,
  img {
    user-select: none;
    background: none;
    cursor: pointer;
  }

  html {
    scroll-behavior: smooth;
    font-size: 16px;
  }

  .font-family-inter * {
    font-family: "Inter", sans-serif;
  }
}

@layer utilities {
  .ease-200 {
    transition: all 200ms ease-in-out;
  }
  .ease-250 {
    transition: all 250ms ease-in-out;
  }
  .ease-300 {
    transition: all 300ms ease-in-out;
  }
  .ease-350 {
    transition: all 350ms ease-in-out;
  }
  .ease-400 {
    transition: all 400ms ease-in-out;
  }

  .text-hero {
    @apply font-playfair text-[2.25rem] sm:text-[3rem] md:text-[4.5rem];
  }

  .text-h1 {
    @apply font-playfair text-[1.25rem] font-bold xsm:text-[1.5rem] sm:text-[2.8125rem];
  }
  .text-h2 {
    @apply font-playfair text-[1rem] font-semibold xsm:text-[1.5rem] lg:text-[2rem];
  }

  .text-p1 {
    @apply text-[0.875rem] xsm:text-[1rem] lg:text-[1.375rem];
  }
}
